<form [formGroup]="taskForm" (submit)="saveTask()">
  <h3>New task</h3>
  
  <div class="task-container">
    <div class="form-field">
      <label for="taskName">Task's name</label>
      <input 
        appInput 
        formControlName="taskName" 
        id="taskName" 
        name="taskName" 
        type="text"
        >
    </div>
    <div class="form-field">
      <label for="taskDeadline">Task's Deadline</label>
      <input 
        appInput 
        formControlName="taskDeadline" 
        id="taskDeadline" 
        name="taskDeadline" 
        type="text"
        >
    </div>
  </div>

  <h4>Related people</h4>
  <div class="people-container">
    <div class="people-fields">
      <div class="form-field">
        <label for="personName">Name</label>
        <input 
          appInput 
          formControlName="personName" 
          id="personName" 
          name="personName" 
          type="text"
          >
      </div>
      <div class="form-field">
        <label for="personAge">Age</label>
        <input 
          appInput 
          formControlName="personAge" 
          id="personAge" 
          name="personAge" 
          type="number"
          >
      </div>
    </div>
    <div 
      formArrayName="personSkills"
      class="skill-container">
      <div class="skill-header">
        <h4>Skills</h4>
        <button type="button" (click)="addPersonSkill()">Add</button>
      </div>

      <div 
        *ngFor="let alias of personSkills.controls; let i=index"
        class="skill-item">
        <input 
          appInput 
          formControlName="{{i}}"
          id="skill-{{i}}" 
          name="skill-{{i}}" 
          type="text"
          >
          <button type="button" (click)="removeSkill(i)">remove</button>
      </div>
    </div>
  </div>

  <div class="button-save-task-container">
    <button 
      [disabled]="taskForm.invalid"
      class="button-save-task" 
      type="submit">
      Save task
    </button>
  </div>
</form>