:host {
  @media only screen and (min-width: 1024px) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.list {
  height: 100%;
  padding-bottom: 48px;
  box-sizing: border-box;
  overflow: auto;

  @media only screen and (min-width: 1024px) {
    min-width: 900px;
    max-width: 900px;
  }
}

.filters-container {
  padding-bottom: 16px;
  border-bottom: 1px solid var(--gray-1);

  @media only screen and (min-width: 1024px) {
    display: flex;
    justify-content: flex-start;

    h3 {
      margin-right: 16px;
    }

    .filters-container-buttons {
      width: 50%;
    }
  }

  h3 {
    text-align: center;
  }

  .filters-container-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;

    button {
      flex: 1;
      margin-right: 16px;

      &:last-child {
        margin-right: 0px;
      }
    }
  }
}

.list-tasks-container {
  padding-top: 16px;

  @media only screen and (min-width: 768px) {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .card-item {
      width: 350px;
      margin-right: 16px;
    }
  }

  @media only screen and (min-width: 1024px) {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    .card-item {
      width: 280px;
      margin-right: 16px;
    }
  }

  .card-item {
    background-color: var(--gray-1);
    border-radius: 6px;
    padding: 8px;
    box-sizing: border-box;
    margin-bottom: 16px;

    &:last-child {
      margin-bottom: 0px;
    }

    .header-card {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    span {
      font-size: 16px;
      font-weight: bold;
    }

    .person {
      .name {
        font-weight: bold;
      }

      .skills-box {
        display: flex;
        flex-direction: column;

        .skill {
          padding-left: 16px;
        }
      }
    }
  }
}

.button-create-task-container {
  background-color: var(--white);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 8px;
  box-sizing: border-box;

  @media only screen and (min-width: 1024px) {
    position: relative;
    padding: 0px;
    margin-top: 16px;
  }

  .button-save-task {
    width: 100%;
  }
}