/* You can add global styles to this file, and also import other style files */
@use 'styles/input.scss';
@use 'styles/button.scss';

:root {
  --white: #FFFFFF;
  --gray-1: #E3E3E3;
  --gray-2: #818181;
  --dark-1: #1A1A1A;
  --dark-2: #3C3C3C;
  --red-1: #FB0303;
}

html {
  height: 100%;

  body {
    height: calc(100% - 28px);
    
    font-family: "Didact Gothic", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
}

